{% extends 'base.html.twig' %}

{% block title %}Hello AgendaController!{% endblock %}

{% block nav_title %} Agenda {% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('calendar') }}
{% endblock %}

{%  block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.css">
{% endblock %}

{% block body %}

<div id="calendar"></div>

{% endblock %}
